.top5, 
.top-albums,
.similars,
{
    @include sectionGutter();    
}

.top-songs {
    padding: 38px 0 70px;
}


#top-songs-carousel .carousel-indicators{
    bottom: -52px;
}

.song {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 4px 0;
    color:white;

    &__name {
        font-size: 1.7rem;
        margin-bottom: 1px;
    }

    &__artist {
        font-size: 1.3rem;
    }

    &__artist__image {
        float: left;
        margin-right: 13px;

        img {
            border-radius: 50%;
        }
    }

    &__description {
        padding: 11px 0;
    }
}

.top-songs {
    background: #080809;
}

.title-default {
    @include fontMedium();
    margin-top: 0;
    margin-bottom: 50px;
    text-align:center;
    text-transform: uppercase;
    font-size: 5rem;

    &__highlight {
        color: #d51007
    }

    &--light {
        color:white;
    }

    &--dark {
        color:#2f2f2f;
    }
}

.subtitle-default {
    @include fontMedium();
    margin-bottom: 20px;
    margin-top: 35px;
}

footer {

    @include fontMedium();
    color: #2f2f2f;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2rem;
    line-height: 62px;
    
    & .footer__logo {
        float: right;
    }

    @media (max-width:991px) {

        text-align: center;

        & .footer__logo {
            float: none;
        }
    }

}





