// customização de variáveis do Boostrap aqui

$dark-bg: #080809;
$red: #d51007;
$note: #2f2f2f;
$shaded: rgba(0,0,0, 0.4);

$theme-colors: (
  "primary": #d51007,
  "secondary": #2f2f2f
);

@import "./../../lib/bootstrap/scss/bootstrap.scss";

// incluir outros estilos

header {
  padding: 1rem 0 1rem 0;
  #branding {
    img {
      max-height: 55px;
    }
    padding-bottom: .5rem;
    @media (min-width: 768px) {
      padding-bottom: 0;
  }
}
}

footer {
  #copyright {
    color: $note;
    text-transform: uppercase;
    font-weight: bold;
  }
  .logo img{
    max-height: 45px;
    margin: 2rem 0 2rem 0;
  }
}

h2 {
  font-size: 3rem;
  font-family: "Fira Sans";
  text-align: center;
  text-transform: uppercase;
  color: black;

  &.with-red {
    margin: 2rem;
    span {
      color: red;
    }
  }

  &.white {
    color: white;
  }
}

#banner {
  height: 420px;
  background-image: url('./../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
  }

  .text {
    z-index: 1;
    color: white;
    text-align: center;
    p {
      padding: 0 20% 0 20%;
      font-size: 1.2rem;
    }
  }
  
}

#top-artists {

  .artist {
    overflow: hidden;
    padding: 0 0 0 0;
    position: relative;

    img {
      width: 100%;
    }

    a {
      color: white;
      &:hover {
        color: darken(white, 20%);
      }
    }

    .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      padding: 1rem;
    }
  }
}

#top-tracks {
  background-color: #080809;
  h2 {
    color: white;
  }

  .track {
    .inner{
      border-bottom: white 2px solid;
      border-top: white 2px solid;        
      padding-top: .4rem;
      padding-bottom: .4rem;
    }

    color: white;

    img {
      width: 80px;
      margin-right: .8rem;
    }
  }
}

