<!DOCTYPE html>
html(lang="en" ng-app="lastfm")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
  body
    .sticky-top.border-bottom
      include src/components/header/view.pug
    div(ng-view)
    include src/components/footer/view.pug