<section class="artist-top-albums box">
  <h2 class="artist-top-albums__heading">Álbuns principais</h2>

  <div class="box__wrapper">
    <ol class="artist-top-albums__list" ng-repeat="topAlbums in $ctrl.artistTopAlbums">
      <li class="artist-top-albums__list-item" ng-repeat="album in topAlbums.album">

        <div class="box__link" title="{{ album.name }}">
          <div class="box__caption">
            <h3 class="box__heading">{{ album.name }}</h3>
            <span class="box__text">{{ album.playcount|number }} reproduções</span>
          </div>
          <div ng-repeat="image in album.image | filter: {size: 'extralarge'}: true">
            <img src="{{ image['#text'] }}" alt="{{ album.name }}" class="box__image" />
          </div>
          <div class="bg"></div>
        </div>

      </li>
    </ol>
  </div>

</section>