<section class="artist-top-albums">
  <h2 class="artist-top-albums__heading">Álbuns principais</h2>
  <div class="artist-top-albums__wrapper">
    <ul class="artist-top-albums__list" ng-repeat="topAlbums in $ctrl.artistTopAlbums">
      <li class="artist-top-albums__list-item" ng-repeat="album in topAlbums.album">
        <div class="artist-top-albums__caption">
          <h3 class="artist-top-albums__subheading">{{ album.name }}</h3>
          <span class="artist-top-albums__text">{{ album.playcount|number }} reproduções</span>
        </div>
        <div ng-repeat="image in album.image | filter: {size: 'extralarge'}: true">
          <img src="{{ image['#text'] }}" alt="{{ album.name }}" class="artist-top-albums__image" />
        </div>
      </li>
    </ul>
  </div>
</section>