<div class="hero hero--artist">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="hero__title">Led Zeppelin</h1>
                    <p class="hero__description">Led Zeppelin foi uma banda de Londres, Inglaterra célebre pela sua inovação e influência no rock, além de ter sido a banda mais popular na década de 70. De acordo com o renomado Allmusic, o Led Zeppelin foi a banda de Heavy Metal definitiva. Não apenas por sua interpretação alta e esmagadora do blues — mas também pelo modo como eles incorporam mitologia, misticismo e uma variedade de outros gêneros (world music e folk principalmente britânicos) — em seu som. Eles acabaram… leia ma</p>
                </div>
            </div>
        </div>
    </div>