.chart-top-artists {
  &__heading {
    text-transform: uppercase;
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(10, 300px);
    grid-gap: 0;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: repeat(5, 270px);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 300px);
      grid-template-rows: repeat(5, 300px);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(12, 80px);
      grid-template-rows: repeat(5, 80px);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(12, 95px);
      grid-template-rows: repeat(5, 95px);
    }

    &-item {
      position: relative;
      display: block;
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          grid-row-start: 1;
          grid-row-end: 4;
        }

        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 4;
        }

        &:nth-child(2) {
          grid-column-start: 4;
          grid-column-end: 7;
        }

        &:nth-child(3) {
          grid-column-start: 7;
          grid-column-end: 10;
        }

        &:nth-child(4) {
          grid-column-start: 10;
          grid-column-end: 13;
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
          grid-row-start: 4;
          grid-row-end: 6;
        }

        &:nth-child(5) {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        &:nth-child(6) {
          grid-column-start: 3;
          grid-column-end: 5;
        }

        &:nth-child(7) {
          grid-column-start: 5;
          grid-column-end: 7;
        }

        &:nth-child(8) {
          grid-column-start: 7;
          grid-column-end: 9;
        }

        &:nth-child(9) {
          grid-column-start: 9;
          grid-column-end: 11;
        }

        &:nth-child(10) {
          grid-column-start: 11;
          grid-column-end: 13;
        }
      }
    }
  }
}