// Estilos customizados para o Jumbotron

.jumbotron {
  margin-bottom: 1rem;
  border-radius: 0;
  color: $white;

  &__heading {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}