<section class="similar-artist">
  <h2 class="similar-artist__heading">Artistas parecidos</h2>
  <div class="similar-artist__wrapper">
    <ul class="similar-artist__list" ng-repeat="artists in $ctrl.artistSimilar">
      <li class="similar-artist__list-item" ng-repeat="artist in artists.artist">
        <a ui-sref="artist({ name: artist.name })" title="{{ artist.name }}">
          <div class="similar-artist__caption">
            <h3 class="similar-artist__subheading">{{ artist.name }}</h3>
          </div>
          <div ng-repeat="image in artist.image | filter: {size: 'extralarge'}: true">
            <img src="{{ image['#text'] }}" alt="{{ artist.name }}" class="similar-artist__image" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>