nav.navbar.navbar-light.bg-light.py-3
  .container
    a.navbar-brand(href="/")
      img(src="http://via.placeholder.com/100x50")
    form
      input.form-control(placeholder="buscar por um artista")