.bg-light.py-3
  .container
    .row
      .col.align-self-center
        .font-weight-bold.text-uppercase 2018 Spot.FM Ltd. Todos os Direitos Reservados
      .col.text-right
        a(href="/")
          img(src="./src/assets/logo.svg")