header{
	height: 123px;
}
header > .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
header form input{
    border: 2px solid #d51007;
    color: #d51007;
    height: 50px;
    width: 350px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: 20px;
    border-radius: 30px;
    padding: 0 23px 0 66px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    outline: none;
}
/*header form input.search-focus{
    background-position: 15px;
    background-size: 18px;
}*/
header form input::placeholder{
	color: #d51007;
}

/*RESPONSIVE*/
@media (max-width: 1366px){
    header{
        height: 115px;
    }
    header a img {
        height: 55px;
    }
    header form input {
        height: 45px;
        width: 300px;
        background-position: 18px;
        background-size: 22px;
        padding: 0 23px 0 53px;
        font-size: 16px;
    }   
}

@media (max-width: 1024px){
    header > .container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    header a img {
        height: 50px;
    }
    header form input {
        height: 40px;
        width: 280px;
        background-position: 16px;
        background-size: 19px;
        padding: 0 23px 0 50px;
        font-size: 15px;
    }
}

@media (max-width: 768px){
    header a img {
        height: 45px;
    }
}