.main-albums{
	width: 768px;
	display: flex;
	flex-direction: column;
}
.main-albums .grid-albums{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	height: 384px;
}
.main-albums .grid-item{
    display: flex;
    padding: 0 0 18px 15px;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}
.main-albums .grid-item .album-play,
.main-albums .grid-item .album-buy{
	position: absolute;
	top: 15px;
}
.main-albums .grid-item a:hover{
	text-decoration: none;
}
.main-albums .grid-item .album-play{
    left: 15px;
    background-color: #fcfcfb;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    font-size: 20px;
}
.main-albums .grid-item .album-buy{
    right: 15px;
    background-color: #5a5a5b;
    width: 53px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    padding: 0 8px;
    font-size: 15px;
}
.main-albums .grid-item:hover .album-play,
.main-albums .grid-item:hover .album-buy{
	opacity: 1;
	visibility: visible;
}
.main-albums .grid-item:nth-of-type(1){
	grid-column: span 2;
    grid-row: span 2;
}
.main-albums .grid-item:nth-of-type(1) .artist-name{
	font-size: 23px;
}
.main-albums .grid-item:nth-of-type(1) .subtitle{
	font-size: 18px;
}
.main-albums .grid-item .artist-name{
	font-size: 18px;
}
.main-albums .grid-item .subtitle{
	font-size: 15px;
}
.main-albums .grid-item:nth-of-type(1){
	background-color: red;
}
.main-albums .grid-item:nth-of-type(2){
	background-color: blue;
}

.main-albums .grid-item:nth-of-type(3){
	background-color: green;
}

.main-albums .grid-item:nth-of-type(4){
	background-color: pink;
}

.main-albums .grid-item:nth-of-type(5){
	background-color: bisque;
}




/*RESPONSIVE*/
@media (max-width: 1750px){
	.main-albums {
    	width: 48%;
    	display: flex;
    	flex-direction: column;
	}
}

@media (max-width: 1366px){
	.main-albums .grid-item .album-play {
    	width: 38px;
    	height: 38px;
    	font-size: 16px;
	}
	.main-albums .grid-item .album-buy {
    	width: 48px;
    	height: 28px;
    	padding: 0 6px;
    	font-size: 14px;
	}
}
@media (max-width: 1024px){
	.main-albums {
    	width: 100%;
	    margin-top: 95px;
	}
}

@media (max-width: 768px){
	.main-albums .grid-albums {
    	grid-template-columns: 50% 50%;
    	grid-template-rows: 25% 25% 25% 25%;
    	height: 974px;
	}
}

@media (max-width: 600px){
	.main-albums .grid-albums {
    	height: 774px;
	}
}

@media (max-width: 500px){
	.main-albums .grid-albums {
    	height: 664px;
	}
	.main-albums .grid-item:nth-of-type(1) .artist-name {
    	font-size: 21px;
	}
	.main-albums .grid-item:nth-of-type(1) .subtitle {
	    font-size: 16px;
	}
	.main-albums .grid-item .artist-name {
    	font-size: 16px;
	}
	.main-albums .grid-item .subtitle {
    	font-size: 13px;
	}
}

@media (max-width: 370px){
	.main-albums .grid-albums {
    	height: 534px;
	}
}