<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Informações do artista</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="container">
				<a href="home.html">
					<img src="../assets/img/logo.png" alt="">
				</a>
			</div>
		</header>
		<script src="../assets/libs/angular.min.js"></script>
		<script src="../assets/js/script.js"></script>
	</body>
</html>