<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Início</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="manifest" href="site.webmanifest"> -->
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../assets/css/main.css">
		<script src="../assets/libs/angular.min.js"></script>
	</head>
	<body ng-app="">
		<div ng-include="'header.html'"></div>
		<section class="banner home">
			<div class="banner-txt">
				<h1>Bem vindo ao Spot.fm</h1>
				<p>Reunimos todos os seus serviços musicais preferidos e nos juntamos a eles, ouvindo, assistindo e compartilhando para conectar o seu mundo musical.</p>
			</div>
		</section>
		<section class="most-listened">
			<div class="container">
				<h2 class="section-title">
				<span>Artistas</span> mais escutados
				</h2>
				<ol>
					<li class="big-artist">
						<div class="artist-and-listeners">
							<h3>Nego do Borel</h3>
							<p><span>140.909</span> ouvintes</p>
						</div>
					</li>
					<li class="big-artist">
						<div class="artist-and-listeners">
							<h3>Nego do Borel</h3>
							<p><span>140.909</span> ouvintes</p>
						</div>
					</li>
					<li class="small-artist">
						<div class="artist-and-listeners">
							<h3>Nego do Borel</h3>
							<p><span>140.909</span> ouvintes</p>
						</div>
					</li>
					<li class="small-artist">
						<div class="artist-and-listeners">
							<h3>Nego do Borel</h3>
							<p><span>140.909</span> ouvintes</p>
						</div>
					</li>
					<li class="small-artist">
						<div class="artist-and-listeners">
							<h3>Nego do Borel</h3>
							<p><span>140.909</span> ouvintes</p>
						</div>
					</li>
				</ol>
			</div>
		</section>
		<div ng-include="'footer.html'"></div>
		<script src="../assets/js/script.js"></script>
	</body>
</html>